@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  /* slate-900 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-heebo), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-l from-cyan-400 to-blue-600 bg-clip-text text-transparent;
  }
}

/* Animated Gradient Text */
@keyframes gradient-x {

  0%,
  100% {
    background-size: 200% 200%;
    background-position: left center;
  }

  50% {
    background-size: 200% 200%;
    background-position: right center;
  }
}

.animate-gradient-x {
  animation: gradient-x 3s ease infinite;
  background-size: 200% 200%;
}